{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %} Demande de renseignement{% endblock %}
{% block body %}
  <h1> Bonjour {{ contact.nom ~' '~contact.prenom }}</h1>
  Nous avon bien reçu votre demande de contact, toutes nos équipes sont mobilisiées pour satisfaire votre demande dans les plus brefs délais.
  En attendant que nous vous rappelion, vous pouvez visiter notre site <a href="https://dussartluke.github.io/">en cliquant ici</a>.
  
  Merci pour votre confiance.
  
  Le directeur
  
  

{% endblock %}{# empty Twig template #}